@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jjcbeo');
  src:  url('../fonts/icomoon.eot?jjcbeo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jjcbeo') format('truetype'),
    url('../fonts/icomoon.woff?jjcbeo') format('woff'),
    url('../fonts/icomoon.svg?jjcbeo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ui-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon--account_circle:before { content: "\e900"; }
.ui-icon--announcement:before { content: "\e901"; }
.ui-icon--aspect_ratio:before { content: "\e902"; }
.ui-icon--backup:before { content: "\e903"; }
.ui-icon--clear:before { content: "\e904"; }
.ui-icon--dashboard:before { content: "\e905"; }
.ui-icon--dehaze:before { content: "\e906"; }
.ui-icon--expand_more:before { content: "\e907"; }
.ui-icon--help:before { content: "\e908"; }
.ui-icon--help_outline:before { content: "\e909"; }
.ui-icon--highlight_off:before { content: "\e90a"; }
.ui-icon--home:before { content: "\e90b"; }
.ui-icon--info_outline:before { content: "\e90c"; }
.ui-icon--list:before { content: "\e90d"; }
.ui-icon--location_on:before { content: "\e90e"; }
.ui-icon--mail_outline:before { content: "\e90f"; }
.ui-icon--movie:before { content: "\e910"; }
.ui-icon--not_interested:before { content: "\e911"; }
.ui-icon--pause:before { content: "\e912"; }
.ui-icon--play_arrow:before { content: "\e913"; }
.ui-icon--play_circle_filled:before { content: "\e914"; }
.ui-icon--play_circle_outline:before { content: "\e915"; }
.ui-icon--power_settings_new:before { content: "\e916"; }
.ui-icon--search:before { content: "\e917"; }
.ui-icon--settings:before { content: "\e918"; }





